body {
    background-color: #e7e7e7;

}

#all-posts {
    margin: 5rem auto;
    width: 90%;
    max-width: 60rem;
}

#all-posts h2{
    text-align: center;
    font-size: 2rem;
    margin: 3rem 0;
}

#all-posts ul{
    list-style: none;
}

.post a {
    margin: 10px;
    height: 15rem;
    transform-origin: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

